*{
    margin: 0;
}
.navigation_top{
    width: 100%;
    height: 40px;
    background-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation_top i{
    margin-left: 40px;
    font-size: 23px;
    margin-right: 40px;
    color: #5d5d5d;
}

.top_text{
    font-family: sans-serif;
    color: #5d5d5d;
}
.navigation{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    font-family: sans-serif;
    justify-content: space-between;
    
}
.colllection{
    display: flex;
    margin-right: 40px;
}
.collection_item{
    margin: 0px 30px;
    list-style-type: none;

}
.collection_item a{
    text-decoration: none;
    color: black;

}

.nav_logo{
    border: 4px solid black;
    padding: 10px;
    font-size: 30px;
    margin-left: 40px;
}

.banner{
    display: grid;
    place-items: center;
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 80vh;
    background-image: url("http://cdn.osxdaily.com/wp-content/uploads/2017/06/ios-11-default-wallpaper.jpg");
    background-size: cover;
    background-position-y: 60%;
}